.layoutWrapper {
  min-height: 100vh;
  background-color: #f8fafc;
}

.mainContent {
  width: 100%;
}

/* Responsive */
@media (max-width: 768px) {

  .portal,
  .userDetails,
  .navItem span {
    display: none;
  }

  .userSection {
    gap: 1rem;
  }

  .topbar {
    padding: 0 1rem;
  }
}